<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/app.css'>
		<title>Project 1</title>
</head>
	<body>
		<div class="ui tiny menu">
			<div class="ui container">
			  <a href='/' class='item'>
			    Home
			  </a>
			  <a href='/secondpage' class="item">
			    Places
			  </a>
			  <div class="right menu">
			    <div class="ui large buttons">
					  <a href='/login' class="ui button primary">Sign In</a>
					  <div class="or"></div>
					  <a href='/register' class="ui button positive">Sign Up</a>
					</div>
			  </div>
			</div>
		</div>
		<div class='ui container'>
			<div class='ui stacked segment main-segment'>
